#{extends 'main.html' /}
#{set title:'Home' /}
#{set 'moreScripts'}
    #{script 'jquery.tmpl.min.js' /}
    #{script 'dateformat.js' /}
    #{script 'webchat.js' /}
    #{script 'badger.min.js' /}
#{/set}

<div class="content">
    <div class="page-header">
        <!--
        main-containerに表示する内容を選択するメニュー
        特に意味はないが全部アイコンにしてしまった
        -->
        <div id="contents-tabs">
            <ul id="tab-navigation">
                <li><a href="#home"><img src="@{'/public/images/icons/user.png'}" width="40" height="40" alt="Profile" title="Profile"></a></li>
                #{list items:rooms, as:'room' }
                    <li>
                        #{if room.icon.exists()}
                            <a room_id="${room.id}" href="#room-${room.id}" target="_blank"><img src="@{Rooms.roomPhoto(room.id)}" width="40" height="40" alt="${room.name}" title="${room.name}"></a>
                        #{/if}
                        #{else}
                            <a room_id="${room.id}" href="#room-${room.id}" target="_blank"><img src="@{'/public/images/icons/cloud.png'}" width="40" height="40" alt="${room.name}" title="${room.name}"></a>
                        #{/else}
                    </li>
                #{/list}
            </ul>
        </div>
    </div>

    <div id="main-container" class="row">
        <!--
        タブで選択した内容を描画する部分
        初期表示はアカウント情報画面(これはユーザが設定可能であるべきだと思う)
        -->
        <div class="main-content" id="home">
            <h2>アカウント設定画面</h2>
            <a id="request_permission" class="btn">デスクトップ通知をONにするボタンですよ</a>
            <h3>ここででは下記のことができないと納得いきません</h3>
            <p>パスワード変更できるよね</p>
            <p>アイコン変更できるよね</p>
            <p>名前を変更できるよね</p>
        </div>
        #{list items:rooms, as:'room' }
        <div class="main-content" id="room-${room.id}">
            <div class="span10">
                <h2 id="room-name-${room.id}">${room.name}</h2>
                <div class="new_message_area">
                    <div class="send_message">
                        <textarea id="room-${room.id}-text" class="new_message xxlarge" placeholder="Write New Message Here! Shift+Enter" rows="3"></textarea><br />
                        <!-- このidはふざけすぎ -->
                        <a id="sendsendsend" class="send btn success" href="#">Send</a>
                    </div>
                </div>
                <br />
                <div id="messages-room-${room.id}">
                    #{list items:room.messages, as:'message' }
                    <div id="message-id-${message.id}" class="chat_msg">
                        <div class="msg_avatar"><img src="@{Users.avatar(message.who.name)}"></div>
                        <div class="msg_user"><span>${message.who.name} (${message.who.fullname})</span></div>
                        <div class="msg_date"><span>${message.sentAt}</span></div>
                        <div class="msg_text"><pre>${message.message}</pre></div>
                    </div>
                    #{/list}
                </div>
                <a class="btn read-more-messages">Read More</a>
            </div>

            <div class="span6 members">
                <h3>Members</h3>
                <div class="row">
                    #{list items:room.members, as:'member' }
                    <div class="span3">
                        <img class="member_avatar" src="@{Users.avatar(member.name)}">
                        ${member.name}
                    </div>
                    #{/list}
                </div>
            </div>
            <div class="span6">
                <h3>Files</h3>
                <div id="room-${room.id}-upload">
                    #{form @RoomFiles.upload(room.id), enctype:'multipart/form-data'}
                    <input type="file" name="upload">
                    <input type="submit" value="Upload">
                    #{/form}
                </div>
                <div id="room-${room.id}-files">
                    <ul>
                    #{list items:room.files, as:'file' }
                        <li><a href="@{RoomFiles.download(file.id)}" target="_blank">${file.name}</a>
                    #{/list}
                    </ul>
                </div>
            </div>
        </div>
        #{/list}
    </div> <!-- END main-container -->
</div>

<script id="chatMessageTemplate" type="text/x-jquery-tmpl">
<!-- チャットメッセージのテンプレート -->
<div id="message-id-{{= mid}}" class="chat_msg" style="display: none;">
    <div class="msg_avatar"><img src="@{Users.avatar()}?username={{= name}}"></div>
    <div class="msg_user"><span>{{= name}} ({{= fullname}})</span></div>
    <div class="msg_date"><span>{{= date}}</span></div>
    <div class="msg_text"><pre>{{= text}}</pre></div>
</div>
</script>

<script type="text/javascript">
/*
   HTMLにJavaScript書きすぎ
   webchat.jsに分離できるところは分離すべき
   また使いまわせそうな箇所は関数に切り出すべき
   コード読みづらい。ありえない。
 */
// Create Web Socket.
var WebSocket
if (!WebSocket) {
    WebSocket = MozWebSocket
}
var socket = new WebSocket('@@{Chat.WebSocket.connect()}');

// Message received on the socket
socket.onmessage = function(event) {
    //var json = $.parseJSON(event.data); // 動きません！PlayかChromeのせいですが解析する気力がありません.
    /*
       FIXME 意味不明だけどこうしないと動かないぽん
       受信したデータがおかしいぽん
       後ろのゴミデータを削除した文字列にするぽん
     */
    var edata = event.data;
    var lastIndex = edata.lastIndexOf("}");
    var json = $.parseJSON(edata.substr(0, lastIndex + 1));

    if (json.type == 'new_message') {
        var df = new DateFormat("yyyy-MM-dd HH:mm:ss.SSS");
        var d = new Date;
        d.setTime(json.timestamp);
        var datestring = df.format(d);
        var text = $('<div>').text(json.text).html(); // escape html
        var msg = {
            mid: json.mid,
            name: json.username,
            fullname: json.fullname,
            text: text,
            date: datestring
        };
        var room_id = json.room;

        // $("#chatMessageTemplate").tmpl(msg).appendTo("#messages-room-" + room_id); // 下に追加
        $("#chatMessageTemplate").tmpl(msg).prependTo("#messages-room-" + room_id); // 上に追加
        $("#message-id-" + json.mid).fadeIn(1500);

        // notification
        if ("${user.name}" != json.username) { // 自分のメッセージは通知しない.
            if (window.webkitNotifications.checkPermission() == 0) {
                var icon = "@{'/public/images/icons/user.png'}"; // ユーザ毎にアイコン設定したいのに。。。
                var room_name = $('#room-name-' + room_id).text();
                var title = '@' + json.username + " : " + room_name;
                var message = json.text;
                var notification = window.webkitNotifications.createNotification(icon, title, message);
                notification.ondisplay = function() {
                    setTimeout(function() {
                        notification.cancel();
                    }, 5000);
                };
                notification.show();
            }
        }
    } else if (json.type == 'online') {
        // TODO eventビューみたいなのいる？？？
    } else if (json.type == 'offline') {
        // TODO eventビューみたいなのいる？？？
    }
    // TODO 新規メッセージ以外も対応すること
    // 削除 delete_message
    // 更新 update_message
    // TODO ファイルの新着も対応すること
    // 新規 new_file
    // 削除 delete_file
}

// Send Message
$('div.main-content a.send').each(function(i, element) {
    $(this).bind('click', function(e) {
        var mainContents = $('#main-container div.main-content');
        // 現在表示しているコンテンツのRoomのidを取得する
        var room_id = mainContents.filter(function(index) {
            return $(this).css('display') == 'block';
        }).first().attr('id');

        var textarea_id = '#' + room_id + '-text';
        var message = $(textarea_id).val().trim();
        $(textarea_id).val('');
        if (message == "") {
            return;
        }

        var request = {type: "new_message",
            text: message,
            room: room_id.replace("room-", "")};
        socket.send(JSON.stringify(request));
    });
});

// Shift + Enter
$('div.main-content textarea.new_message').each(function(i, element) {
    $(this).bind('keypress', function(e) {
        if((e.charCode == 13 || e.keyCode == 13) && e.shiftKey) {
            $('#sendsendsend').click()
            e.preventDefault()
        }
    })
});

// Desktop Notification Button
$('#request_permission').click(function() {
    window.webkitNotifications.requestPermission();
});


// Read More
$('div.main-content a.read-more-messages').each(function(i, element) {
    $(this).bind('click', function(e) {
        // 現在表示しているコンテンツのRoomのidを取得する
        var mainContents = $('#main-container div.main-content');
        var room_id = mainContents.filter(function(index) {
            return $(this).css('display') == 'block';
        }).first().attr('id').replace("room-", "");
        // 一番古いメッセージのIDを取得する
        var lastMessageId = $("#messages-room-" + room_id + " .chat_msg:last").attr('id').replace("message-id-", "");
        // サーバからメッセージを取得する
        var readMoreUrl = "@@{RoomMessages.fetch()}";
        readMoreUrl += "?message=" + lastMessageId + "&room=" + room_id;
        $.getJSON(readMoreUrl, function(data) {
            // TODO 以下の処理はWebSocketのメッセージ受信とまとめることができるはずなので関数化すべき.
            var df = new DateFormat("yyyy-MM-dd HH:mm:ss.SSS");
            var d = new Date();
            $.each(data, function(key, val) {
                d.setTime(val.timestamp);
                var datestring = df.format(d);
                var text = $('<div>').text(val.message).html(); // escape html
                var msg = {
                    mid: val.id,
                    name: val.username,
                    text: val.message,
                    fullname: val.fullname,
                    date: datestring
                };
                $("#chatMessageTemplate").tmpl(msg).appendTo("#messages-room-" + room_id);
                $("#message-id-" + msg.mid).fadeIn(1500);
            });
        });
    })
});



</script>

